* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(70,1,58);
  background: linear-gradient(90deg, rgba(70,1,58,1) 0%, rgba(0,160,218,1) 2%, rgba(1,49,68,1) 2%, rgba(2,0,36,1) 95%, rgba(0,208,167,1) 95%, rgba(147,0,237,1) 100%, rgba(0,208,167,1) 100%);
  overflow: hidden
  scroll-behavior: smooth;
  /* Create the parallax scrolling effect */
  color-scheme: dark;
}

/* Default styles for all viewports */
.nav-bar {
  position: absolute;
  width: 100vw;
  padding: max(6vw, 4rem) max(10vw, 4rem);
  z-index: 4;
}

.nav-bar-list {
  list-style: none;
  border-color: #3398db;
  border-width: 1.5rem;
  border-radius: 0.5rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
}

/* Styles to apply when the viewport is less than 600px wide */
@media (max-width: 600px) {
  .nav-bar {
    display: none;
  }
}

.nav-link {
  font-family: Product Sans;
  text-decoration: none;
  font-size: max(2vw, 1.1rem);

  background: linear-gradient(156deg, #3398db, #a463bf);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.card {
  position: relative;
  padding: max(10vw, 6rem);
  width: 100vw;
  height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-bottom: 5vw
}

.title {
  font-family: Product Sans;
  background: linear-gradient(156deg, #a463bf, #3398db);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title.name {
  font-size: max(4.8vw, 2.8rem);
}

.title.profession {
  font-size: max(3.8vw, 1.8rem);
  font-style: italic;
}

.link-icon {
  width: max(4vw, 32px);
}

.title.about {
  font-size: 3rem;
}

.title.projects {
  font-size: 3rem;
}

.about-card .about-paragraph {
  margin-top: 2rem;
  background-color: #191a1c;
  font-family: Product Sans;
  font-size: 1.5rem;
  color: white;
  width: max(50vw, 300px);
  padding: 3rem;
  border-radius: 0.5rem;
  margin-bottom: 100rem
}

